footer {
  background: #aa0601;
  .footer-info {
    padding-top: 48px;
    @include mobile {
      padding-top: 24px;
    }
  }
  .footer-contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff;
    padding-bottom: 32px;
    @include mobile {
      padding-bottom: 24px;
    }
    ul {
      display: flex;
      align-items: center;
      @include mobile {
        &.page {
          display: none;
        }
        &.icon {
          order: 1;
        }
        align-items: flex-start;
      }
      &.page > li {
        margin-right: 48px;
        &:last-child {
          margin-right: 0;
        }
      }
      &.icon > li {
        margin-left: 32px;
        &:first-child {
          margin-left: 0;
        }
        img {
          vertical-align: middle;
        }
        @include pad {
          margin-left: 16px;
          img {
            width: 40px;
          }
        }
        @include mobile {
          margin-left: 8px;
          img {
            width: 24px;
          }
        }
      }
    }
    h3 {
      color: #fff;
      font-size: 36px;
      width: 100%;
      margin-top: 24px;
      @include mobile {
        font-size: 16px;
        width: auto;
        margin-top: 0;
      }
      span {
        margin-right: 20px;
        font-size: 36px;
        vertical-align: middle;
        @include mobile {
          font-size: 24px;
          margin-right: 8px;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    @include mobile {
      flex-direction: column;
      padding: 16px 0 24px 0;
    }
    p {
      color: #fff;
    }
    ul {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      li {
        font-size: 14px;
        margin-left: 48px;
        @include mobile {
          font-size: 16px;
          margin-left: 0;
          margin-top: 8px;
        }
      }
    }
  }
}
