thead {
  span.material-icons {
    font-size: 18px;
    cursor: pointer;
  }
}

tbody {
  span.material-icons {
    cursor: pointer;
  }
}

.page-link {
  &:hover {
    background-color: #198754;
    color: #fff !important;
  }
}

.new-admin {
  cursor: pointer;
}
